@charset "UTF-8";

/*Todas as telas*/
/* 
Pequenas telas: até 600px (320-480 comum)
Celular: de 600px até 768px
Tablet: 768px até 992 ou 1024px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px */

@media screen and (min-width: 768px) and (max-width: 991px) {/*TABLET*/
    body {
        width: 100%;
        font-size: 1em;
    }

    h1 {
        text-align: left;
        margin-left: 15px;
    
    }


    aside {
        flex: 2;
        margin-right: 30px;

    }


    main > section {
        width: 300px;
        margin: 20px 30px 30px 30px;
    }

    .nome {
        height: 170px;
        padding-top: 15px;
    }

    .nome > h1 {
        text-align: center;
        margin: 15px 0px 5px 0px;
    }

    .nome img {
        margin: auto;
    }

    .contato {
        height: 22vh;
    }

    .li {
        margin-left: 55px;
    }

    .texto {
        margin-left: 20px;
    }

    .tecnologias {
        height: 14vh;
    }

    .especialtec {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        font-size: 0.9em;
        margin: 20px 15px 0px 15px;
        align-items: center;
    }

    .experiencia > ul {
        text-align: justify;
        margin-left: 50px;
    }

    .educacao > h1 {
        font-size: 1.1em;
        margin-bottom: -10px;
    }

    .educacao > ul {
        text-align: auto;
        margin-left: 50px;
        margin-top: 10px;
    }


    .primeiro {
        float: left;
        width: 45%;
        height: 40px;
    }
    
    .segundo {
        float: right;
        width: 45%;
        height: 40px;
    }

    .projetos {
        height: 40px;
    }

    .recentes {
        height: 80px;
    }

    .indefinido {
        height: 100px;
    }

img#phone {display: none;}
img#tablet {display: flex;}
}

@media screen and (min-width: 992px) and (max-width: 1199px) {/*DESKTOP*/
    body {
        
        width: 100%;
        font-size: 1.1em;
    }


    aside {
        flex: 2;
        margin-right: 30px;

    }


    main > section {
        width: 300px;
        margin: 20px 30px 20px 30px;
    }

    h1 {
        text-align: left;
        margin-top: 10px;
        margin-left: 10px;
    }



    .nome {
        height: 150px;
        padding-top: 15px;
    }

    .nome > h1 {
        text-align: center;
        margin: 10px 0px 0px 0px;
    }

    .nome img {
        margin: auto;
    }

    .contato {
        height: 17%;
    }

    .li {
        margin-left: 15px;
    }

    .contatoleft {
        float: left;
    }

    .contatoright {
        float: right;
        margin-right: 20px;
    }

    .texto {
        margin-left: 20px;
    }

    .tecnologias {
        height: 17%;
    }

    .especialtec {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        font-size: 0.9em;
        margin: 15px 15px 5px 15px;
        align-items: center;
    }

    .experiencia > ul {
        text-align: justify;
        margin-top: 5px;
        margin-left: 50px;
        font-size: 1.1em;
    }

    .educacao > h1 {
        font-size: 1.1em;

    }

    .educacao > ul {
        text-align: auto;
        margin-left: 50px;
        margin-top: 10px;
        font-size: 1.1em;
    }


    .primeiro {
        float: left;
        width: 45%;
        height: 40px;
    }
    
    .segundo {
        float: right;
        width: 45%;
        height: 40px;
    }

    .projetos {
        height: 40px;
    }

    .recentes {
        height: 80px;
    }

    .indefinido {
        height: 100px;
    }

img#phone {display: none;}
img#tablet {display: flex;}
}


@media screen and (min-width: 1200px) { /*telas grandes*/

    body {
        width: 70%;
        font-size: 1.1em;
    }


    aside {
        flex: 2;
        margin-right: 30px;

    }


    main > section {
        width: 300px;
        margin: 20px 30px 25px 30px;
    }

    aside > section {
        margin-bottom: 10px;
    }

    h1 {
        text-align: left;
        margin-top: 10px;
        margin-left: 10px;
    }



    .nome {
        height: 170px;
        padding-top: 15px;
    }

    .nome > h1 {
        text-align: center;
        margin: 10px 0px 5px 0px;
    }

    .nome img {
        margin: auto;
    }

    .contato {
        height: 15%;
    }

    .li {
        margin-left: 15px;
    }

    .contatoleft {
        float: left;
    }

    .contatoright {
        float: right;
        margin-right: 20px;
    }

    .texto {
        margin-left: 20px;
    }

    .tecnologias {
        height: 15%;
    }

    .especialtec {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        font-size: 0.9em;
        margin: 15px 15px 5px 15px;
        align-items: center;
    }

    .experiencia > ul {
        text-align: justify;
        margin-top: 5px;
        margin-left: 50px;
        font-size: 1.1em;
    }

    .educacao > h1 {
        font-size: 1.1em;

    }

    .educacao > ul {
        text-align: justify;
        margin-left: 50px;
        margin-top: 10px;
        font-size: 1.1em;
    }


    .primeiro {
        float: left;
        width: 45%;
        height: 40px;
        margin-bottom: 10px;
    }
    
    .segundo {
        float: right;
        width: 45%;
        height: 40px;
        margin-bottom: 10px;
    }

    .projetos {
        height: 40px;
    }

    .recentes {
        height: 80px;
    }

    .indefinido {
        height: 100px;
    }

img#phone {display: none;}
img#tablet {display: flex;}

}